<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action</key>
	<false/>
	<key>category</key>
	<string>SCRIPTS</string>
	<key>command</key>
	<string>#Desc: Places current date in the pasteboard
#Use: cdate &lt;type&gt;
#Ex: cdate d

#Types of time information available are
# d-date (Day, Month Date, Year)
# s-short date (YYYYMMDD)
# t-time (HH:MM:SS AM/PM)
# b-both date &amp; time

php -f script.php -- {query} | pbcopy
echo "Current date is now ready in the pasteboard"</string>
	<key>escapequery</key>
	<true/>
	<key>escapequerybackquotes</key>
	<false/>
	<key>escapequerybrackets</key>
	<false/>
	<key>escapequeryquotes</key>
	<true/>
	<key>escapequerysemicolons</key>
	<false/>
	<key>growloutput</key>
	<true/>
	<key>growloutputsticky</key>
	<false/>
	<key>keyword</key>
	<string>cdate</string>
	<key>logging</key>
	<false/>
	<key>silent</key>
	<true/>
	<key>subtitle</key>
	<string>Copy current time or date to the pasteboard</string>
	<key>title</key>
	<string>Copy current time/date</string>
</dict>
</plist>
